<!DOCTYPE html>
<html>
<head>
    <title>belkarta.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='//fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bundles/app/css/ply.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bundles/app/css/redactor.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bundles/app/css/fine-uploader.min.css') }}" rel="stylesheet" type="text/css" media="screen">
    {% block stylesheets %}{% endblock %}

</head>
<body>
<!-- start header -->
<div class="header_bg{% if home_page is defined %}{% else %}1{% endif %}">
    <div class="wrap">
        <div class="wrapper">
            <div class="logo">
                <a href="{{ path('home') }}"><img src="{{ asset('bundles/app/images/logo.png') }}" alt=""/> </a>
            </div>
            <div class="menu">
                <a class="toggleMenu" href="#">Меню</a>
                <ul class="nav">
                    <li><a href="#">О клубе</a>
                        <ul>
                            <li><a href="{{ path('publication_view', {slug: 'o-proekte'}) }}">О проекте</a></li>
                            <li><a href="{{ path('publication_view', {slug: 'partneram'}) }}">Партнерам</a></li>
                            <li><a href="{{ path('publication_view', {slug: 'klientam'}) }}">Клиентам</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Карты скидок</a>
                        <ul style="width: 200px">
                            <li><a href="{{ path('belkarta_card_new', {type: 'classic'}) }}">БелКарта CLASSIC</a></li>
                            <li><a href="{{ path('belkarta_card_new', {type: 'platinum'}) }}">БелКарта PLATINUM</a></li>
                            <li><a href="{{ path('publication_view', {slug: 'akcii'}) }}">Акции</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Партнеры</a>
                        <ul style="width: 180px">
                            <li><a href="{{ path('belkarta_companies', {page: 1}) }}">Скидки</a></li>
                            <li><a href="{{ path('publication_view', {slug: 'partnerka'}) }}">Партнерская программа</a></li>
                            <li><a href="{{ path('belkarta_company_new') }}">Стать партнером</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('career') }}">Карьера</a></li>
                    <li><a href="{{ path('publication_view', {slug: 'contacts'}) }}">Контакты</a></li>
                </ul>
            </div>
            {{ include('AppBundle::user_menu.html.twig') }}
            <div class="clear"></div>
            {% if home_page is defined %}
                <br/><br/>
                <div class="banner">
                    <div class="row">
                        <div class="col-sm-12">
                        <div class="news-on-home-page">
                            <h2 class="style">Новости Клуба <a href="{{ path('category_view', {slug: 'novosti'}) }}" style="font-size: 0.4em; letter-spacing: 0px; color: #fff; padding: 3px 10px; border-radius: 2px; background-color: #4ba84b; border-color: #439643;">Все новости</a></h2>
                            
                                {{ include('BlogPublicationsBundle::articlesList.html.twig', { 'items': news }) }}
                            </div>
                            
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            {% endif %}
        </div>
    </div>
</div>
<!-- start content -->
{% if home_page is defined %}{% else %}
<div class="content_bg">
    <div class="wrap">
        <div class="wrapper">
            <div class="main">

                {% block content %}{% endblock %}

            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- start footer -->
<div class="footer_bg">
    <div class="wrap">
        <div class="wrapper" style="padding-left: 2%; padding-right: 2%;">
            <div class="clear">
                <div class="f_grid">
                    <div class="grid1_of_1">
                        <div class="address">
                            <p>+37533 3860728 MTS</p>
                            <p>+37529 3392670 Velcom</p>
                            <p><a href="mailto:belkarta.com@gmail.com">belkarta.com@gmail.com</a> </p>
                        </div>
                    </div>
                    <div class="grid1_of_2">
                        <div class="f_grid2 left">
                            <h3>О клубе</h3>
                            <ul class="f_nav">
                                <li><a href="{{ path('publication_view', {slug: 'o-proekte'}) }}">О проекте</a></li>
                                <li><a href="{{ path('publication_view', {slug: 'partneram'}) }}">Партнерам</a></li>
                                <li><a href="{{ path('publication_view', {slug: 'klientam'}) }}">Клиентам</a></li>
                            </ul>
                        </div>
                        <div class="f_grid2 left">
                            <h3>Карты скидок</h3>
                            <ul class="f_nav">
                                <li><a href="{{ path('belkarta_card_new', {type: 'classic'}) }}">БелКарта CLASSIC</a></li>
                                <li><a href="{{ path('belkarta_card_new', {type: 'platinum'}) }}">БелКарта PLATINUM</a></li>
                                <li><a href="{{ path('publication_view', {slug: 'akcii'}) }}">Акции</a></li>
                            </ul>
                        </div>
                        <div class="f_grid2 left">
                            <h3>Партнёрам</h3>
                            <ul class="f_nav">
                                <li><a href="{{ path('belkarta_companies', {page: 1}) }}">Скидки</a></li>
                                <li><a href="{{ path('publication_view', {slug: 'partnerka'}) }}">Партнерская программа</a></li>
                                <li><a href="{{ path('belkarta_company_new') }}">Стать партнером</a></li>
                            </ul>
                        </div>
                        <div class="f_grid2_left">
                            <img src="{{ asset('bundles/app/images/visa.jpg') }}" height="30px" /> &nbsp;
                            <img src="{{ asset('bundles/app/images/mastercard.JPG') }}" height="30px" /> &nbsp;
                            <img src="{{ asset('bundles/app/images/mastercard_securecode.jpg') }}" height="30px" /> &nbsp;
                            <img src="{{ asset('bundles/app/images/verified_by_visa.jpg') }}" height="30px" /> &nbsp;
                            <img src="{{ asset('bundles/app/images/webpay.JPG') }}" height="30px" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="address" style="font-size: 0.9em;">
                                <p>Индивидуальный предприниматель</p>
                                <p>Кожуро Зоя Михайловна</p>
                                <p>Свидетельство о государственной регистрации №491166749, выданное Гомельским бластным исполнительным комитетом 20.01.2015 г.</p>
                                <p>Зарегистрированной по адресу: Гомельская область, Речицкий район, г.Речица, ул.Чкалова, 33-1.</p>
                                <p>УНП491166749</p>
                                <p>График работы:</p>
                                <p>Пн.- Пт. С 11:00-20:00.</p>
                                <p>Сб.- Вс. С 12:00-18:00.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.contentcarousel.js') }}"></script>
    <script src="{{ asset('bundles/app/js/script.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/datatable/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/datatable/dataTables.bootstrap.js') }}"></script>
{% endblock %}

{% if app.environment == 'prod' %}
    {{ include('AppBundle::metrika.html.twig') }}
{% endif %}

</body>
</html>